LB_DOMAIN=streetkots.ru
LB_DOMAIN_ALIASES=www.streetkots.ru
LB_UPSTREAM_1=155.212.221.216:80
LB_UPSTREAM_2=5.181.109.6:80
LB_BALANCER_PUBLIC_IP=217.114.11.194
LB_LETSENCRYPT_LIVE_DIR=/etc/letsencrypt/live/streetkots.ru
